@import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&display=swap');

body{ 
  font-family: 'Akaya Telivigala', cursive;
}

.btn {
  height: 40px;
  width: 90px;
  margin-left: 15rem !important;
}

.about_Pics {
  height: 150px;
  width: 150px;
  border: 2px solid gold;
  border-radius:50%;
}


